<!DOCTYPE html>
<html class="fullscreen_page sticky_menu">
<head>
<% include head %>
</head>
<body>
	<header class="main_header">
    <% include header %>
    </header>
    <div class="fullscreen_block hided">
      <div style="display:flow-root;">
        <div style="float:left;">
    		<ul class="optionset" data-option-key="filter" style="width:500px;">
            	<li class="selected"><a href="#filter" data-option-value="*">All Works</a></li>
                <li><a data-option-value=".advertisement" href="#filter" title="View all post filed under advertisement">Advertisement</a></li>
                <li><a data-option-value=".cities" href="#filter" title="View all post filed under cities">Cities</a></li>
                <li><a data-option-value=".fashion" href="#filter" title="View all post filed under fashion">Fashion</a></li>
                <li><a data-option-value=".nature" href="#filter" title="View all post filed under nature">Nature</a></li>
                <li><a data-option-value=".portrait" href="#filter" title="View all post filed under portrait">Portrait</a></li>
                <li><a data-option-value=".stuff" href="#filter" title="View all post filed under stuff">Stuff</a></li>
        </ul>
        </div>
        <div style="margin-right:30px;float:right;">
          <a href="#" class="hasIcon shortcode_button btn_normal btn_type5" onclick="selectTemplate()"><i class="icon-star-o"></i>New Project</a>
        </div>
      </div>
        <% if(scenes.length > 0){ %>
          <div class="fs_blog_module image-grid">
              <% scenes.forEach(function(scene){ %>
              <div class="blogpost_preview_fw element stuff">
                  <div class="fw_preview_wrapper">
                        <div class="gallery_item_wrapper">
                            <a href="/project/<%=scene.idscene%>"".html">
                                <img src=<%= scene.thumbnail%> alt="" class="fw_featured_image" width="540">
                                <div class="gallery_fadder"></div>
                                <span class="gallery_ico"><i class="stand_icon icon-eye"></i></span>
                            </a>
                        </div>
                        <div class="grid-port-cont">
                            <h6><a href="simple_fullwidth_image_post.html"><%= scene.title %></a></h6>
                            <div class="block_likes">
                                <div class="post-views"><i class="stand_icon icon-eye"></i> <span><%= scene.view %></span></div>
                                <div class="gallery_likes gallery_likes_add already_liked">
                                    <i class="stand_icon icon-heart"></i>
                                    <span><%= scene.like %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <% }); %>
          <% }else{ %>
            <p>No content.</p>
          <% } %>
          </div>
	</div>
   	<div class="preloader"></div>
    <footer class="fullwidth">
        <div class="footer_wrapper">
            <div class="copyright">Copyright &copy; 2020 Oyster HTML Template. All Rights Reserved.</div>
            <div class="socials_wrapper">
                <ul class="socials_list">
                	<li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
                    <li><a class="ico_social_gplus" target="_blank" href="https://plus.google.com/" title="Google+"></a></li>
                    <li><a class="ico_social_vimeo" target="_blank" href="https://vimeo.com/" title="Vimeo"></a></li>
                    <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
                    <li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
                    <li><a class="ico_social_twitter" target="_blank" href="http://twitter.com" title="Twitter"></a></li>
                    <li><a class="ico_social_instagram" target="_blank" href="http://instagram.com" title="Instagram"></a></li>
            	</ul>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
	<div class="content_bg"></div>
	<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/js/modules.js"></script>
	<script type="text/javascript" src="../static/js/theme.js"></script>
    <script type="text/javascript" src="../static/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../static/js/sorting.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
			"use strict";
			setTimeout(function(){
                jQuery('.fullscreen_block').removeClass('hided');
			},1500);
			setTimeout("jQuery('.preloader').remove()", 1700);
		});

		function newProject(){
			<% if(user==-1){ %>
				alert('로그인이 필요한 기능입니다.');
				return false;
			<% }else{ %>
			return true;
			<% } %>
		}

        function selectTemplate() {
            $("#templateModal").modal('show');
        }
    </script>
</body>
<div id="templateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">템플릿을 선택하세요</h4>
            </div>
            <div class="modal-body">
                <a href="/project/new" onClick="return newProject();">
                    <img src="https://unsplash.it/301/300/?random" alt="" class="fw_featured_image" width="100">
                    <h6><a href="#">자유모드</a></h6>
                </a>
                <a href="/project/new" onClick="return newProject();">
                    <img src="https://unsplash.it/300/300/?random" alt="" class="fw_featured_image" width="100">
                    <h6><a href="#">심리테스트</a></h6>
                </a>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</html>
